@import url(../popup/__container/popup__container.css);
@import url(../popup/__close-button/popup__close-button.css);
@import url(../popup/__Close-button-img/popup__Close-button-img.css);
@import url(../popup/__container-title/popup__container-title.css);
@import url(../popup/__input/popup__input.css);


@import url(../popup/__Submit-Button/popup__Submit-Button.css);
@import url(../popup/__Submit-Button-text/popup__Submit-Button-text.css);





.popup {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 25px;
}