@import url(../profile/__Close_button/profile__Close_button.css);

@import url(../profile/__avatar/profile__avatar.css);

@import url(../profile/__Info/profile__Info.css);

@import url(../profile/__author_edit/profile__author-edit.css);

@import url(../profile/__edit_button/profile__edit-button.css);

@import url(../profile/__quote-author/profile__quote-author.css);

@import url(../profile/__quote-author-subline/profile__quote-author-subline.css);

@import url(../profile/__add_button/profile__add-button.css);




.profile {
    display: flex;
    max-width: 882px;
    margin: 0 auto;
    margin-top: 40px;
    flex-direction: row;
    justify-content: space-between;
    
}
@media (min-width: 630px) and (max-width: 860px) {
    
    .profile {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (min-width: 300px) and (max-width: 629px) {
    
.profile {
        
    flex-direction: column;
   
    
}
}