.profile__quote-author-subline{
    color: #ffffff;
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
margin: 0;

}
@media (min-width: 300px) and (max-width: 629px) {
 
.profile__quote-author-subline{
    margin-top: 14px;
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 17px;
    text-align: center; 
}
}