.footer__text {
    color: #545454;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
@media (min-width: 300px) and (max-width: 629px) {
.footer__text {
    margin-left: 19px;
    
}
}