@import url(../element/__images/element__images.css);
@import url(../element/__text-box/element__text-box.css);
@import url(../element/__text/element__text.css);
@import url(../element/__group/element__group.css);
@import url(../element/__like-button/element__like-button.css);
@import url(../element/__like-button/_activ/element__like-button_activ.css);
@import url(../element/__delete-button/element__delete-button.css);


.element {
    background-color: #ffffff;
    max-width: 282px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}