@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/body/body.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/header/header.css);
@import url(../blocks/page/page.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/popup/_opened/popup_opened.css);




.like_group {
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin-top: 22px;
    margin-right: 20px;

}
.like_counter {
    
    padding: 0;
    margin: 0;
    margin-top: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;

    color: #000000;
}

.delet_none {
    display: none;
}


