.element__like-button {
    background-image: url(../../../images/group.svg);
    width: 20px;
    height: 18px;
    background-size: cover;
    border: none;
    padding: 0;
    margin-top: 29px;
    margin-right: 22px;
    outline: none;
}
.element__like-button:hover {
    
    cursor: pointer;
    } 