
.profile__info {
    display: flex;
    flex-direction: row;
    align-items: center;

}
@media (min-width: 300px) and (max-width: 629px) {
  

.profile__info {
    
    flex-direction: column;
    

}
}