
.element__delete-button{
    outline: 1px rgb(102, 255, 0);
    position: absolute;
    right: 15px;
    top: 18px;
    padding: 0;
    margin: 0;
    border: none;
    background: rgba(255, 255, 255, 0.0);
    }
    .element__delete-button:hover{
        cursor: pointer;
        opacity: 0.6;
    }
    
    
    